* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: aliceblue;
}

.container {
    width: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#card {
    position: relative;
    width: 100%;
    padding: 30px 20px;
    background: radial-gradient(circle at 50% 0%, orange 36%, white 36%);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 1.5);
    border-radius: 10px;
}

#card img {
    display: block;
    position: relative;
    width: 180px;
    max-height: 200px;
    background-image:none;
    margin: 20px auto;
}

.hit-points {
    width: 80px;
    background-color: #ffff;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin-left: auto;
    font-weight: 400;
}

.pokemon-name {
    text-align: center;
    font-weight: 600;
}

.pokemon-type {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 40px 0;
}

.hit-points span,
.pokemon-name span {
    font-size: 12px;
    letter-spacing: 0.4px;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.stats p {
    color: #404060;
}

#generate-btn {
    display: block;
    position: relative;
    padding: 15px 60px;
    font-size: 18px;
    background-color: #101010;
    color: #ffff;
    margin: 30px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
}